html, body, .layout{
    height: 100%;
}

body {
    margin: 0px;
}

.layout {
    width: 100%;
    height: 100%;
    margin: auto;
}

.blockb {

    height: 90%;
}

.blocka {
    padding-left: 10%;
    width: 90%;
    height: 75px;
    background-color: #33b679;

}

.blockb1 {
    width: 35%;
    height: calc(100% - 75px);
    background-color: #7bcfa9;
    margin-top: 0px;
    float: left;
}

.blockb2 {
    width: 100%;
    padding-left:0%;
    height: 100%;
    background-color: #1a8763;
    margin-top: 0px;

}
.c0{
    padding:25px;
    height: 94%;
width:calc(100% - 25px)%;
    border:0px solid black;
}
.b2{
    width:65%;
    height: calc(100% - 75px);
    float: left;
}
.blockc {
    background-color: #7bcfa9;
    width: 90%;
    height: 75%;
    padding-left:10%;
    padding-bottom:19% ;
}
.c{

    width:100%;
    height: 75%;
    border:0px solid black;
}

.blockd1 {
    background-color: #0f9d58;
    width: 25%;
    height: 25%;
padding-left:75%;
    padding-top:60%;

}
.d1{
    border:0px solid black;
    width:25%;
    height: 100%;
    float: left;
}
.d12{
    margin-top:25px;
    border:0px solid black;
    height: 20%;

}
.blockd2 {
    background-color: #33b679;
padding-left:25%;
    width: 75%;
    height: 25%;
padding-bottom:20%;
}
.d2{
    margin-left:25px;
    width: calc(75% - 25px);
    height: 100%;
    border:0px solid black;
    float: left;
}
.reg {
    margin-top: 5%;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.two {

    width: 90%;
    border: 0px solid gray;
    margin-left: auto;
    margin-right: auto;
}
