html, body, .layout {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
}

.layout {
    width: 100%;
    height: 100%;
    margin: auto;
    display:table;
}

.blockb {

    height: 90%;
}

.blocka {

    width: 100%;
    height: 75px;
    background-color: #33b679;
    color:white;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    font-weight: 400;

}
.cont{
    display:block;

    color:white;
    font-size:60px;
}
.blockb1 {
    width: 100%;
    height: calc(100% - 75px);
    background-color: #7bcfa9;
    margin-top: 0px;


}

.blockb2 {
    width: 100%;
    padding-left: 0%;
    height: 925px;
    background-color: #1a8763;
    margin-top: 0px;

}

.c0 {
    padding: 25px;


    border: 0px solid black;

}

.b2 {

    width: 100%;
    height: calc(100% - 75px);

}

.blockc {
    background-color: #7bcfa9;
    width: 100%;
    height: 500px;
border:0px solid black;

}



.blockd1 {
    background-color: #0f9d58;
    width: 100%;
    height: 150px;
    float: left;
    margin-top: 25px;
    border: 0px solid black;

}

.blockd2 {
    background-color: #33b679;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    border: 0px solid black;

}
.d2{

    float:left;
    height: 150px;
    width: 100%;
    border:0px solid black;

}
.reg {
    margin-top: 5%;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.two {

    width: 90%;
    border: 0px solid gray;
    margin-left: auto;
    margin-right: auto;
}
