.bl{
    color:white;
    font-size: 20px;
    padding:25px;

width: 100px;
    border:0px solid black;
    text-align: left;

}
div .blockc{

padding-top:5px;
}
.blockc:hover{
box-shadow: 0px 1px 8px black;
    padding-top:5px;
}
.blockd1:hover{
    box-shadow: 0px 1px 8px black;
    padding-top:5px;
}
.blockd2:hover{
    box-shadow: 0px 1px 8px black;
    padding-top:5px;
}
div{
    transition:0.5s;
}
.block_c:hover{
    box-shadow: 0px 1px 8px black;
    padding-top:5px;
}
.block_d1:hover{
    box-shadow: 0px 1px 8px black;
    padding-top:5px;
}
.block_d2:hover{
    box-shadow: 0px 1px 8px black;
    padding-top:5px;
}