@media screen and (min-width: 1024px) {
    html, body {
        margin: 0px;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    .layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;

    }

    .block_a {
        height: 75px;
        width: 90%;
        background-color: #db4437;
        color: white;
        font-size: 50px;
        text-align: center;
        padding-right: 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .block_b12 {
        height: calc(100% - 75px);
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }

    .block_b1 {
        width: 35%;
        background-color: #ed9d97;
    }

    .block_b2 {
        width: 65%;
        background-color: #d3362d;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

    }

    .block_c {
        margin-left: 25px;
        margin-top: 25px;
        padding-right: calc(10% - 50px);
        background-color: #ed9d97;
        width: 90%;
        height: 75%;
    }

    .block_d1 {
        width: 25%;
        height: 25%;
        background-color: #e57368;
        margin-left: 25px;
        margin-top: 25px;
    }

    .block_d2 {
        width: 75%;
        height: 25%;
        background-color: #e57368;
        margin: 25px;
    }

    .block_d12 {
        height: 60%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        border: 0px solid black;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    html, body {
        margin: 0px;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    .layout {
        width: 100%;
        height: 100%;

        border: 0px solid yellow;

    }

    .block_a {
        height: 75px;
        width: 90%;
        background-color: #db4437;
        color: white;
        font-size: 50px;
        text-align: center;
        padding-right: 10%;

    }

    .block_b12 {

        height: 900px;
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: flex-start;
        border: 0px solid black;
        width: 100%;

    }

    .block_b1 {
        width: 100%;
        background-color: #ed9d97;
    }

    .block_b2 {
        width: 100%;
        background-color: #d3362d;
        height: 825px;
        display: flex;
        flex-flow: row wrap;

        align-content: flex-start;
    }

    .block_c {
        margin-left: 25px;
        margin-top: 25px;
        padding-right: calc(10% - 50px);
        background-color: #ed9d97;
        width: 90%;
        height: 600px;
    }

    .block_d1 {
        width: 25%;
        height: 150px;
        background-color: #db4437;
        margin-left: 25px;
        margin-top: 25px;
    }

    .block_d2 {
        width: 75%;
        height: 150px;
        background-color: #e57368;
        margin: 25px;
    }

    .block_d12 {

        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        border: 0px solid black;
    }
}
@media screen and (max-width: 600px){
    html, body {
        margin: 0px;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    .layout {
        width: 100%;
        height: 100%;

        border: 0px solid yellow;

    }

    .block_a {
        height: 75px;
        width: 90%;
        background-color: #db4437;
        color: white;
        font-size: 50px;
        text-align: center;
        padding-right: 10%;

    }

    .block_b12 {

        height: 1071px;
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: flex-start;
        border: 0px solid black;
        width: 100%;

    }

    .block_b1 {
        width: 100%;
        background-color: #ed9d97;
    }

    .block_b2 {
        width: 100%;
        background-color: #d3362d;
        height: 1000px;
        display: flex;
        flex-flow: row wrap;

        align-content: flex-start;
    }

    .block_c {
        margin-left: 25px;
        margin-top: 25px;
        padding-right: calc(10% - 50px);
        background-color: #ed9d97;
        width: 90%;
        height: 600px;
    }

    .block_d1 {
        width: 100%;
        height: 150px;
        background-color: #db4437;
        margin-left: 25px;
        margin-top: 25px;
        margin-right: 25px;
    }

    .block_d2 {
        width: 100%;
        height: 150px;
        background-color: #e57368;
        margin: 25px;
    }

    .block_d12 {

        width: 100%;

        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        border: 0px solid black;
    }
}



